button {
  border: none;
  cursor: pointer;
  border-radius: 0.8em;
  height: 2.5em;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0;
}

button:disabled {
  cursor: initial;
}

button span {
  color: var(--text-color);
  font-weight: normal;
}

/* 로고이미지 */
.logo {
  background: url(../assets/instagram-text.png) no-repeat 100% / cover;
  width: 7em;
}

/* 로그인 버튼 */
.login {
  width: 6em;
  background-color: var(--main-color);
  color: var(--white-color);
}

/* 가입하기 버튼 */
.access {
  width: 6em;
  background-color: var(--white-color);
  color: var(--main-color);
}

.access-primary {
  font-size: 1em;
  background-color: var(--primary-button-color);
  color: var(--white-color);
  opacity: 0.7;
}

/* 페이스북 로그인 버튼 */
.f-login {
  font-size: 1em;
  background-color: var(--primary-button-color);
  color: var(--white-color);
}

.f-login:hover {
  background-color: var(--primary-button-hover-color);
}

.f-login-no-bg {
  font-size: 1em;
  background-color: var(--white-color);
  color: var(--primary-button-color);
}

/* 팔로우 버튼 */
.l1-follow {
  width: 6em;
}
/*  */

/* 메세지보내기 버튼 */
.l1-message {
  width: 9em;
}
/*  */

.l1-follow:hover,
.l1-message:hover {
  background-color: var(--button-hover-color);
}

.l2-post:hover,
.l2-follow:hover,
.l2-follower:hover {
  opacity: 0.5;
}

/* ... 버튼 */
.bgn {
  background: none;
}
