.wrapper {
  border: 1px solid var(--border-color);
  padding: 3em;
}

.wrapper2 {
  border: 1px solid var(--border-color);
  padding: 2em;
}

.wrapper3 {
  padding: 1em;
}

.wrapper > div {
  display: flex;
  justify-content: center;
}

.wrapper > div:not(.f-d-r) {
  flex-direction: column;
}

.input-wrapper input {
  padding: 1em;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.input-wrapper .errorMsg {
  font-size: 0.8em;
  color: red;
  text-align: left;
  padding: 0 1em;
}
